@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global styles */
html {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 14%;
  background-color: #64A460;
  padding: 2rem 1rem;
  transition: all 0.5s ease;
}

.sidebar .system-name {
  font-size: xx-large;
  font-weight: 600;
  color: #333;
}

.sidebar ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.sidebar ul li {
  height: 50px;
  width: 100%;
  margin: 0.8rem 0;
  text-align: center;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-decoration: none;
  border-radius: 0.8rem;
  font-size: large;
  color: #333;
  width: 100%;
  height: 100%;
}

.sidebar ul li a:hover {
  background-color: #558B52;
  color: black;
  transition: background-color 0.3s; 
}

.sidebar ul li a i {
  margin-right: 0.5rem; 
}

.main-content {
  margin-left: 15%; 
  padding: 2rem;
  width: 85%; 
  overflow-y: auto; 
  background-color: #f8e7d8;
}

.main-content h1 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-align: center;

}

/* Main content styles */
.content-container {
  width: 95%;
  margin: 0 auto; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Upload Page Styles*/
.form-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-group input[type="file"] {
  display: none;
}

.form-group textarea {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.custom-file-label {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-color: #64A460;
  color: white;
  border: 1px solid #64A460;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.custom-file-label:hover {
  background-color: #558B52;
  transition: background-color 0.3s;
}

#file-list {
  margin-top: 1rem;
}


.file-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0.4rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.file-item .thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.4rem;
}

.file-item .file-name {
  font-size: medium;
}

.button-container {
  text-align: center;
}

.btn-primary {
  background-color: #64A460;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background-color: #558B52;
  transition: background-color 0.3s;
}

.btn-primary.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.btn-primary.disabled:hover {
  background-color: #64A460;
  opacity: 50%;
}

.flash-messages {
  margin: 0.5rem auto 0.5rem auto;
  width: 75%;
  max-width: 400px;
}

.flash-message {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: black;
}

.flash-message.success {
  background-color: #B0EBB4; 
}

.flash-message.error {
  background-color: #F44336; 
}

.file-warning {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Dashboard Page Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-left: 0;
}

.grid-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  overflow: hidden; 
}

.grid-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 16px;
  text-align: center;
}

.grid-item .preview-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 8px;
}

.grid-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.grid-item p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

.grid-item .dates {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
} 

.no-batches {
  font-size: 1.2rem;
  color: #333; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%; 
  width: 100%; 
}

.no-batches p {
  text-align: center;
}

.no-batches a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #64A460;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600; 
}

.no-batches a:hover {
  background-color: #558B52;
  text-decoration: none;
  transition: background-color 0.3s; 
}


/* Batch Profile Styles */
.batch-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.batch-table-container {
  width: 45%;
}

.batch-table-title, .batch-summary-title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.batch-table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.batch-table th, .batch-table td {
  text-align: left;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
}

.batch-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.batch-table td {
  background-color: #fff;
}

.batch-table tr:last-child th, .batch-table tr:last-child td {
  border-bottom: none;
}

.batch-summary-container {
  width: 50%;
  padding: 0 0 20px 20px;
  margin: 0 0 20px 20px;
  border-radius: 10px;
}

.batch-summary-container p {
  margin: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.batch-summary-content {
  background-color: #e7f3f3; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.center-button {
  text-align: center;
  margin-top: 20px;
}

/* Batch Tab Styles */
.batch-tab-container {
  margin-top: 20px;
}

.batch-tab-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.batch-tab-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  margin-right: 2px;
  transition: background-color 0.3s;
  border-radius: 10px 10px 0 0;
}

.batch-tab-button:hover {
  background-color: #ddd;
}

.batch-tab-button.active {
  background-color: #fff;
  border-bottom: 3px solid #3498db;
}

.batch-tab-button.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.batch-tab-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.batch-tab-content p {
  text-align: center;
}

.batch-tab-pane {
  display: none;
}

.batch-tab-pane.active {
  display: block;
}

#spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  animation: spinner-rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;
}

.spinner-path {
  stroke: #3498db;
  stroke-linecap: round;
  animation: spinner-dash 1.5s ease-in-out infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#spinner-text {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

#completion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tick {
  width: 50px;
  height: 50px;
}

#completion-text {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: hsl(120, 100%, 25%);
}

/* Predicted Images Container */
#predicted-images-container {
  margin-top: 20px;
}

#predicted-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  display: inline-block;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-wrapper p {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px; 
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #3498db;
}

.modal-images {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 20px;
}

.modal-image-wrapper {
  text-align: center;
  flex: 1;
}

.modal-image-wrapper h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.modal-image:hover {
  transform: scale(1.05);
  border-color: #3498db;
}

.modal-details {
  text-align: center;
}

.modal-details p {
  font-size: 18px;
  margin: 5px 0; 
  color: #333;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.graph {
  text-align: center;
  margin: 20px;
}

.graph h4 {
  margin-bottom: 10px;
  text-align: center;
}

.graph a {
  display: inline-block;
}

.graph-img {
  width: 80%; 
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
